/* Header Container */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

/* Header Primary Section */
.header-primary {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Logo Section */
.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-image {
    margin-right: 0.5rem;
}

.logo-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* Navigation Links */
.header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
}

.header-link {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header-link:hover {
    background-color: #eaeaea;
    color: #000;
}

/* Submenu */
.submenu {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    display: block;
    min-width: 200px;
    /* Ensure the submenu has a minimum width */
    /* Allow the submenu to grow based on the content size */
    max-height: 400px;
    /* Optionally set a max height for large content */
    overflow-y: auto;
    /* If the submenu grows too large, it becomes scrollable */
}

.submenu-link {
    display: block;
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
}

.submenu-link:hover {
    background-color: #f1f1f1;
}

.dropdown-container {
    position: relative;
}

/* Dropdown and Buttons */
.header-dropdown {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-button:hover {
    background-color: #eaeaea;
    color: #000;
}

/* Sign-in Button */
.sign-in-button {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
    cursor: pointer;
}

.sign-in-button:hover {
    background-color: #333;
    color: #fff;
}